spring.application.name=
spring.jpa.properties.hibernate.dialect=
spring.jpa.hibernate.ddl-auto=
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.cloud.gcp.project-id=
config.pubsub.topic=
config.pubsub.subscription=
spring.cloud.gcp.credentials.location=
spring.cloud.azure.storage.blob.account-name=
spring.cloud.azure.storage.blob.container-name=
spring.cloud.azure.storage.blob.account-key=